PROD_DB_HOST=commerce-mysql
PROD_DB_PORT=3306
PROD_DB_NAME=change-me
PROD_DB_USER=change-me
PROD_DB_PASSWORD=change-me
PROD_JWT_ACCESS_SECRET=change-me-32-bytes-min
PROD_JWT_REFRESH_SECRET=change-me-32-bytes-min
PROD_REDIS_HOST=change-me
PROD_REDIS_PORT=6379
PROD_REDIS_PASSWORD=
