# ---------- NaverPay Sandbox ----------
# 인증값: https://developers.pay.naver.com/user/merchant/auth
LOCAL_NAVERPAY_CLIENT_ID=
LOCAL_NAVERPAY_CLIENT_SECRET=
LOCAL_NAVERPAY_CHAIN_ID=

# 결제 완료 후 콜백 URL
LOCAL_NAVERPAY_RETURN_URL=
# 단건 결제 승인 API URL
LOCAL_NAVERPAY_APPROVAL_URL=
# 단건 결제 취소 API URL
LOCAL_NAVERPAY_CANCEL_URL=
# 결제 내역 조회 API URL
LOCAL_NAVERPAY_PAYMENT_HISTORY_URL=

# 샌드박스 승인 API 테스트용 결제 ID
LOCAL_NAVERPAY_APPROVE_PAYMENT_ID=
# 샌드박스 취소 API 테스트용 결제 ID
LOCAL_NAVERPAY_CANCEL_PAYMENT_ID=
# 샌드박스 이력 조회 API 테스트용 결제 ID
LOCAL_NAVERPAY_HISTORY_PAYMENT_ID=
# true일 때만 취소 API 테스트 실행
LOCAL_NAVERPAY_ENABLE_CANCEL=false
