# ---------- MySQL ----------
PROD_DB_HOST=commerce-mysql
PROD_DB_PORT=3306
PROD_DB_NAME=change-me
PROD_DB_USER=change-me
PROD_DB_PASSWORD=change-me

# ---------- JWT (ms 단위) ----------
PROD_JWT_ACCESS_SECRET=change-me-32-bytes-min
PROD_JWT_ACCESS_EXPIRATION=1800000
PROD_JWT_REFRESH_SECRET=change-me-32-bytes-min
PROD_JWT_REFRESH_EXPIRATION=604800000

# ---------- Redis ----------
PROD_REDIS_HOST=change-me
PROD_REDIS_PORT=6379
PROD_REDIS_PASSWORD=

# ---------- NaverPay ----------
# 인증값: https://developers.pay.naver.com/user/merchant/auth
PROD_NAVERPAY_CLIENT_ID=
PROD_NAVERPAY_CLIENT_SECRET=
PROD_NAVERPAY_CHAIN_ID=
# 결제 완료 후 콜백 URL
PROD_NAVERPAY_RETURN_URL=
# 단건 결제 승인 API URL
PROD_NAVERPAY_APPROVAL_URL=
# 단건 결제 취소 API URL
PROD_NAVERPAY_CANCEL_URL=