MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=commerce_db
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=13336
LOCAL_DB_NAME=commerce_db
LOCAL_DB_USER=root
LOCAL_DB_PASSWORD=change-me
LOCAL_JWT_ACCESS_SECRET=change-me-32-bytes-min
LOCAL_JWT_REFRESH_SECRET=change-me-32-bytes-min
LOCAL_REDIS_HOST=localhost
LOCAL_REDIS_PORT=16379

# 네이버페이 인증값 (https://developers.pay.naver.com/user/merchant/auth)
LOCAL_NAVERPAY_CLIENT_ID=
LOCAL_NAVERPAY_CHAIN_ID=
LOCAL_NAVERPAY_RETURN_URL=